h2 {
    color: brown;
    max-width: 1024px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.photoContainer {
    max-width: 1024px;
    justify-content: center;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section {
    max-width: 1024px;
    justify-content: center;  
    margin-left: auto;
    margin-right: auto;
}
