.calc__wrapper {
  display: grid;
  margin: 100px auto;
  background-color: #1c93ee;
  width: 385px;
  padding-left: 35px;
  padding-right: 20px;
  border-radius: 6px;
}

.calc-display-input {
  width: 360px;
  height: 60px;
  margin: 35px 0;
  border-radius: 6px;
  background-color: #1d1d1d;
  color: #fff;
  text-align: right;
  font-size: 35px;
  padding: 4px;
}

.calc-buttons {
  display: grid;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 95px);
  grid-template-rows: repeat(5, 80px);
  margin-bottom: 30px;
}

.btn {
  width: 80px;
  height: 55px;
  background-color: #f4f4f4;
  font-size: 27px;
  color: #666666;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 0;
}

button {
  margin: 10px;
  border: 1px grey solid;
  border-radius: 4px;
  margin-left: 0;
}

.btn-hover-red:hover {
  background-color: #d83e33;
  color: #f2f2f2;
}

.btn-hover-orange:hover {
  background-color: #ff6a00;
  color: #f2f2f2;
}

.btn-hover-green:hover {
  background-color: green;
  color: #f2f2f2;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 1px #ccc;
}

.btn-long {
  width: 175px;
}

.btn-equal {
  height: 137px;
}

#decimal {
  grid-column: 3;
  grid-row: 5;
}

@media screen and (max-width: 768px) {
  .calc {
    width: 300px;
    margin: 0 auto;
  }
  .calc-display-input {
    width: 280px;
  }

  input[placeholder] {
    font-size: 28px;
  }
  input::-moz-placeholder {
    font-size: 28px;
  }
  input:-moz-placeholder {
    font-size: 28px;
  }
  input:-ms-input-placeholder {
    font-size: 28px;
  }

  .btn {
    width: 64px;
  }
  .btn-long {
    width: 140px;
  }
}
@media screen and (max-width: 400px) {
  .calc {
    width: 280px;
  }
  .calc-display-input {
    width: 260px;
  }
  .btn {
    width: 60px;
  }
  .btn-long {
    width: 132px;
  }
}